/* Variables para los colores */

$color1: #f1e4c3ef;
$color2: #2e6fb9e1;
$color3: #ee8282;
$color4: #576490;
$color5: #1a5bbc93;
$color6: #b97d2ee1;


:root {
    --color1: #f1e4c3ef;
    --color2: #2e6fb9e1;
    --color3: #ee8282;
    --color4: #576490;
    --color5: #1a5bbc93;
    --color6: #b97d2ee1;
}